<h3 className="text-center">Data Privacy Policy</h3>
										<p>
											This policy explains the information we process, collect, and share to
											support Texchange. TexChange works diligently and responsibly to protect your private information.
										</p>
										<br></br>
										<h4>Contact Us</h4>
										<p>For more info and any inquiries, please contact us at texchangeuwo@gmail.com.</p>
										<h4>What information do we collect?</h4>
										<p>
											TexChange collects and processes information in order to facilitate the communication and trading
											of textbooks over it’s platform. This may include personal information provided by the user.
										</p>
										<h6>Account Data</h6>
										<p>
											TexChange collects provided user data to facilitate the creation, maintain, and provide services
											to an account. This data is limited to a user’s account name, associated email, username and
											password.{" "}
										</p>
										<h6>Web analytics</h6>
										<p>
											TexChange may use a third party web trend analytics service for the purpose of collecting metadata
											on an anonymous basis. Information gathered may include cookies and visitor information related to
											behavior during access to services provided by TexChange. For further information about Google
											Analytics, and for links to Google’s Privacy Policy and an opt-out tool for Google Analytics, go
											to http://www.google.com/intl/en/analytics/privacyoverview.html.
										</p>

										<h6>Community/forum/ web postings </h6>
										<p>
											Information listed in postings are public to the TexChange community and are visible to all users
											on the website. TexChange is not responsible for further disclosure of information not requested
											when a post is created or the use of provided information by other entities who are recipients or
											have access access to public information.
										</p>
										<h4>How do we use this information?</h4>
										<p>
											We collect and access the information mentioned above to manage and improve our services provided
											to you in these ways:
										</p>
										<h6>Personalize and improve our services</h6>
										<p>
											Data collected may be used for administrative purposes including the identification of crashes and
											functionality problems.
										</p>
										<h6>Maximize safety and security of users</h6>
										<p>
											TexChange collects data in order to verify creation of accounts, prevent spam and harmful conduct,
											and to promote overall safety and security when using the services provided.
										</p>
										<h6>Communicate with users</h6>
										<p>
											Data collected allows TexChange to communicate important information with users, including
											notifications related to security, terms of service changes, and policy changes. This data also
											allows Texchange to respond to users when contacted.
										</p>


										<h6>How is this information shared?</h6>
										<p>The information mentioned previously is shared in the following ways:

People and accounts you communicate with 
All information posted on TexChange is public information and can be seen by anyone with access to our services. When communicating through chat on the website you are choosing who to share the information provided in the chat with.
</p>
<h6>How is this information protected and what security do we use?</h6>

<p>To protect Personal Information from unauthorized access, use and disclosure, we use signed tokens to authenticate users and requests to the API. We encrypt your passwords. Note that we currently do not encrypt the messages sent by you to other users on this platform.</p>

Data provided by the user is stored until a user deletes their account, or the information is no longer necessary for TexChange to provide services to the user. The extent to which this information is necessary depends on the use of the data in question and varies depending on its nature. 

Upon deletion of your account all posts originating from the account will be deleted. To delete your account at any time access TexChange’s profile settings.

User Responsibilities
To protect personal user information, TexChange highly suggests never sharing your password, only accessing TexChange through secure networks, maintaining updated security and virus protection software, and in the event of a suspected account breach, or a privacy concern arises immediately changing your password and contacting TexChange.

How will we notify you of changes to our policy?
We may revise this policy from time to time. The most current version of the policy will be listed at www.tex-change.com. We will notify you of any changes through a notification to your account. By continuing to access our services after these changes become effective, you agree to be bound by the revised terms.

